* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    min-width: 250px;
    line-height: 1.3;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 1em;
}

footer {
    margin: 0;
}

/* Header Section */

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.6em 2em;
}

.header-text-and-logo {
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    gap: 0.2em;
}

.header-logo {
    width: 34px;
}

.nav-anchor {
    text-decoration: none;
    color: #090909;
    font-size: 0.8rem;
    font-weight: 700;
}

/* Main Section */

main,
.main-text-section {
    margin: 0;
}

.main-text-section {
    padding: 0 2em;
    background-image: url("image/article-image-hero.png");
    background-size: cover;
    object-fit: cover;
    width: 100%;
    display: grid;
    grid-template: 100px auto auto / auto;
    gap: 0.5em;
}

.main-text-section-date,
.main-text-section-header,
.main-text-section-info {
    color: #FFFFFF;
    margin: 0;
}

.main-text-section-date {
    font-size: 0.75rem;
    grid-row: 1 / 2;
    align-self: flex-end;
}

.main-text-section-header {
    font-size: 2rem;
    grid-row: 2 / 3;
    align-self: flex-end;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
}

.main-text-section-header:hover,
.main-text-section-header:active {
    text-decoration: underline;
}

.main-text-section-info {
    font-size: 1rem;
    grid-row: 3 / 4;
    align-self: flex-end;
    margin-bottom: 1em;
}

/* Blog Section */

.blog-section {
    display: grid;
    grid-template: auto auto auto auto / auto;
    padding: 2em 2em 0 2em;
}

.blog-section-date,
.blog-section-info {
    margin: 0;
    padding: 0.2em 0;
}

.blog-section-img {
    margin: 0.5em auto;
    width: 100%;
    background-size: cover;
    object-fit: cover;
    grid-row: 1 / 2;
    border-radius: 3px;
}

.blog-section-date {
    grid-row: 2 / 3;
}

.blog-header-anchor {
    margin: 0.2em 0;
    font-size: 1.5rem;
    font-weight: 700;
    grid-row: 3 / 4;
    text-decoration: none;
    cursor: pointer;
    color: #000000;
}

.blog-header-anchor:hover,
.blog-header-anchor:active {
    text-decoration: underline;
}

.blog-section-info {
    grid-row: 4 / 5;
}

.view-more-anchor-tag {
    margin: 2em auto;
    display: block;
    text-align: center;
    text-decoration:underline;
    color: #090909;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
}

/* Footer Section */

.footer {
    margin: 0;
    padding: 1.5em;
    background-color: #202020;
    text-align: center;
}

.footer-text,
.footer-copyright {
    font-size: 0.75rem;
}

.footer-text {
    color: #ECECEC;
    font-weight: 700;
    margin-bottom: 0;
}

.footer-copyright {
    margin-top: 0;
    color: #D7D7D7;
}

@media (min-width: 768px) {

    /* Main Section */

    .main-text-section {
        grid-template: auto auto auto / 33% 44% 27%;
        gap: 0.5em;
    }

    .main-text-section-date {
        font-size: 1rem;
        margin-top: 15em;
        grid-column: 1 / 2;
    }
    
    .main-text-section-header {
        font-size: 2.5rem;
        grid-column: 1 / 3;
    }
    
    .main-text-section-info {
        font-size: 1rem;
        grid-column: 1 / 3;
    }

    /* Blog Section */

    .blog {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    .blog-section {
        padding: 2em 2em 0 2em;
    }
}

@media (min-width: 1024px) {

    /* Main Section */

    .main-text-section {
        grid-template: auto auto auto / 33% 20% 47%;
        gap: 0.5em;
    }

    .main-text-section-date {
        font-size: 0.875rem;
        margin-top: 20em;
        grid-column: 1 / 2;
    }
    
    .main-text-section-header {
        font-size: 2rem;
        grid-column: 1 / 3;
    }
    
    .main-text-section-info {
        font-size: 1rem;
        grid-column: 1 / 3;
    }

    /* Blog Section */

    .blog-section-date {
        font-size: 0.875rem;
    }

    .blog-header-anchor {
        font-size: 1.5rem;
    }

    .blog-section-info {
        font-size: 1rem;
    }
}